[*.cs]

#### Sonar Analyzers ####

# S1144: Unused private types or members should be removed
dotnet_diagnostic.S1144.severity = none

# S3459: Unassigned members should be removed
dotnet_diagnostic.S3459.severity = none

# S3878: Arrays should not be created for params parameters
dotnet_diagnostic.S3878.severity = none

#### StyleCop ####

# SA1312: Variable names should begin with lower-case letter
dotnet_diagnostic.SA1312.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
